/*build*
/*Build*
/*install*
/*Install*
*~
*.bak
*.tmp
*.user
*.autosave
*.project
*.cbp
*.cproject
*.DS_store
CMakeCache.txt
CMakeLists.txt.user
CMakeLists.txt.user.*
/.settings
CMakeFiles/
.idea/
CTestTestfile.cmake
cmake_install.cmake
*Config.cmake
*ConfigVersion.cmake
*ConfigInstalled.cmake
*.pyc
.ipynb_checkpoints/
*.DS_Store
